:root{
  --white:white;
  --blue-pastel:rgb(81,103,121);
  --red:red;
  --sky-blue:rgb(0,119,252);
  --black:rgba( 0,0,0,0.5);
  --true-black:black;
  --violet-blue:rgb(149,148,224);
  --back-card:rgb(168,216,255);
  --violet:rgb(139,133,223);
  --free-blue:rgb(186, 183, 214);
  --orange:rgb(255,184,86);
  --black-footer:rgb(45,45,45);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  scroll-behavior: smooth;
}
/* ------- */

/*-----------------------generali---------------- */

h2, h3, h4, h5, h6, p, div {

  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  margin: 20px 0px;

}


h1 {

  font-family: 'Raleway', sans-serif;
}


h3 {

  font-family: sans-serif;
  font-weight: 100;
  font-size: 0.8em;
}

p {

  color: var(--blue-pastel);
  line-height: 25px;
}

.debug {

  background-color:var(--red);
}

div {

  border-radius: 20px;
}

.wh {

  background-color: var(--white);
}

main {

  background-color: var(--blue-pastel);
}

section {

  width: 100%;
}


.container {

  width: 80%;
  margin: auto;

}

.card {

  padding: 20px;
}

.btn {

  display: inline-block;
  text-align: center;
  background-color: var(--sky-blue);
  padding: 10px 60px;

}

.btn:hover {

  background-color: var(--black);
  translate: var(--red) 2s;
}

/*-----------header----------*/

header {
 
  background-color: var(--sky-blue);
  height: 80px;
  color: var(--white);

  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}


nav {

  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  line-height: 40px;
  width: 100%;
}

.logo a:link , .logo a:visited{

  color: var(--white);
  text-decoration: none;
}

.mn-1 {

  font-size: 30px;
}
.nav-list {

  display: none;
}
header ul {

  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;

}

header ul a {

  margin-left: 20px;
  text-decoration: none;
  color: var(--white);
}



header ul a:last-child {

  color: var(--black);
  background-color: var(--white);

  padding: 0px 20px;
  border-radius: 20px;
}

/*----------fine header------ */

#svc {

  padding-top: 80px;
}
#svc h2 {

  color: var(--sky-blue);
  text-align: center;
}

.card p {

  text-align: center;
}

.card.big p {

  text-align: start;
}

.cards-icon {

  text-align: center;
  color: var(--sky-blue);

}



.btn-link {

  text-decoration: none;
  color: var(--white);
}

.card i {

  font-size: 75px;
  display: block;
  margin: auto;
}


.card {

  background-color: var(--back-card);
  margin: 20px 0px; 
}

.cards {

  padding: 25px 0px;
}

.cb-img {

  height: 200px;
}

.test-c.card {

  display: flex;
  align-items:  center;
  flex-direction: column;
  text-align: center;
  color: var(--white);
  background-color: var(--violet);
}
.tes-i {

  display: flex;
  justify-content: center;
  align-items: center;
}

.tes-i img {

  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.test-c.card .tes-i{

  width: 200px;
  height:200px;
  margin:auto;
}

.test-c.card .tes-d {

  width: 70%;
}

.btn-link i {

  font-size: 15px;
  display: inline;
  margin-right: 10px;
}

.cb-in.cb-img img {

  object-fit: contain;
  height: 100%;
  
}

.plan-ls.card .cb-img img , .plan-ls .cb-img img {

  object-fit: cover;
  width: 100%;
  height: 100%;
}

.plan-ls.card .cb-img, .plan-ls .cb-img {

  width: 50%;
  height: 50%;
  margin: auto;


}
.card.big {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0px;   
}

.cb-in.cb-img {

  margin-bottom: 0px;

}

/*---strategic---*/

#plan {

  padding: 40px 0px 10px 0px;

}

.plan-ls:first-child {

  color: var(--white);
}

.plan-ls:first-child p {

  color: var(--white);
  font-size: 14px;
}

.plan-ls.card {

  background-color: var(--white);
  text-align: center;
}

.plan-ls.card i {

  font-size: 20px;
  background-color: var(--violet);
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
}

.plan-ls p:last-child {

  padding-bottom: 50px;
}

.plan-ls .cb-img {

  width: 100%;
  margin: 0;
}

/*------testimonials----*/

#testimonial {

  text-align: center;
  padding: 40px 0px;
}

#testimonial .container h2 {

  color: var(--violet);
}

.card .tes-d p i {

  font-size: 15px;
  margin: 10px;
  display: inline;
}

.card .tes-d p {

  color: var(--white);
}

/*-----------6 card benefit----------*/

#with-us .container h1 {

  margin-top: 20px;
  color: var(--white);
  text-align: center;
}

#with-us .card h2:first-child {

  font-size: 70px;
  color: var(--violet);
}

#with-us .card h2:nth-child(2) {

  color: var(--violet);
}

#with-us .card p {

  text-align: left;
}

#with-us .card .btn {

  background-color: var(--white);
}

.wu-in .card {

  background-color: var(--white);
}

/*------about------- */

#about h2  {

  color:var(--violet);
  padding-top: 40px;
  padding-bottom: 20px;

  font-size: 30px;
}

#about .tes-i {

  width: 250px;
  height: 250px;
  margin-top: 60px;
  margin-bottom: 40px;

  position: relative;
}

#about .tes-i i {

  position: absolute;
  top:0;
  right:0;
  color: var(--violet);
  font-size: 80px;
}

#about .p-big {

  color: var(--violet);
  font-size: 30px;
  line-height: 40px;
}

#about .btn {

  background-color: var(--violet);
  padding-left: 20px;
  padding-right: 20px;
}

/*----get started ----*/

#free {

  text-align: center;
  padding-bottom: 50px;
}

#free h3 {

  color: var(--free-blue);
  font-size: 18px;
}

#free h2:nth-of-type(1) {

  color: var(--white);
  width: 80%;
  margin: auto;
}

#free h2:nth-of-type(2) {

  color: var(--orange);
  font-size: 50px;
}

#free p {

  color: var(--white);
}

#free .btn {

  background-color: var(--white);
  color: var(--violet);
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 40px;
}

#free .copyright , .copyright a:visited , .copyright a:link {

  color: var(--white);
}

.copyright ul {
  
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  width: 80%;
  margin: auto;
}

.copyright ul li {

  margin-right: 20px;
  font-family:'Times New Roman', Times, serif;
  font-size: 12px;
}

.copyright ul li:first-child {

  list-style: none;
}

/*----footer----*/

footer {

  text-align: center;
  color: var(--white);
  background-color: var(--black-footer);
  font-size: 0.8em;
}

footer .container {

  width: 80%;
  padding-top: 50px;
}

footer p {

  padding-bottom: 50px;
  color: var(--white);
}

footer p:nth-of-type(2) {

  width: 70%;
  margin: auto;
}

footer a:link , footer a:visited {

  color: var(--violet);
}